<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-${classname}-add">
        #foreach($column in $columns)
        #if($column.columnName != $primaryKey.columnName)
        <div class="form-group">	
            <label class="col-sm-3 control-label">${column.columnComment}：</label>
            <div class="col-sm-8">
                <input id="${column.attrname}" name="${column.attrname}" class="form-control" type="text">
            </div>
        </div>
        #end
        #end
        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-3">
                <button type="submit" class="btn btn-primary">提交</button>
            </div>
        </div>
    </form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript" src="/ruoyi/${moduleName}/${classname}/add.js">
    </script>
</body>
</html>
