<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="btn-group hidden-xs" id="tableToolbar" role="group">
        <button type="button" class="btn btn-outline btn-default" th:onclick="'javascript:add()'" shiro:hasPermission="${moduleName}:${classname}:add">
            <i class="glyphicon glyphicon-plus"></i>
        </button>
        <button type="button" class="btn btn-outline btn-default" th:onclick="'javascript:batchRemove()'" shiro:hasPermission="${moduleName}:${classname}:batchRemove">
            <i class="glyphicon glyphicon-trash"></i>
        </button>
        </div>
        <table class="bootstrap-table" data-mobile-responsive="true">
        </table>
    </div>
    <div th:include="include :: footer"></div>
    <script type="text/javascript" src="/ruoyi/${moduleName}/${classname}/${classname}.js"></script>
    <script th:inline="javascript" type="text/javascript">
        var editFlag = [[${@permissionService.hasPermi('${moduleName}:${classname}:edit')}]];
        var removeFlag = [[${@permissionService.hasPermi('${moduleName}:${classname}:remove')}]];
    </script>
</body>
</html>