<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="btn-group hidden-xs" id="toolbar" role="group">
	        <button type="button" class="btn btn-outline btn-default" onclick="javascript:add()" shiro:hasPermission="${moduleName}:${classname}:add">
	            <i class="fa fa-plus"></i> 新增
	        </button>
	        <button type="button" class="btn btn-outline btn-default" onclick="javascript:batchRemove()" shiro:hasPermission="${moduleName}:${classname}:batchRemove">
	            <i class="fa fa-trash-o"></i> 删除
	        </button>
        </div>
        <table class="bootstrap-table" data-mobile-responsive="true">
        </table>
    </div>
    <div th:include="include :: footer"></div>
    <script src="/ruoyi/${moduleName}/${classname}/${classname}.js" th:src="@{/ruoyi/${moduleName}/${classname}/${classname}.js}"></script>
    <script th:inline="javascript">
        var editFlag = [[${@permissionService.hasPermi('${moduleName}:${classname}:edit')}]];
        var removeFlag = [[${@permissionService.hasPermi('${moduleName}:${classname}:remove')}]];
    </script>
</body>
</html>