<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 select-info">
				<form id="type-form">
					<div class="select-list gd">
						<ul>
							<li>
								字典名称：<input type="text" name="dictName"/>
							</li>
							<li>
								字典类型：<input type="text" name="dictType"/>
							</li>
							<li>
								字典状态：<select name="status" th:with="type=${@dictService.selectDictData('sys_normal_disable')}">
									<option value="">所有</option>
									<option th:each="e : ${type}" th:text="${e['dictLabel']}" th:value="${e['dictValue']}"></option>
								</select>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search($('form').attr('id'))"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-success btn-rounded btn-sm" onclick="$.table.exportExcel($('form').attr('id'))"><i class="fa fa-download"></i>&nbsp;下载</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	       <div class="btn-group hidden-xs" id="toolbar" role="group">
	            <a class="btn btn-outline btn-success btn-rounded" onclick="$.operate.add()" shiro:hasPermission="system:dict:add">
	                <i class="fa fa-plus"></i> 新增
	            </a>
				<a class="btn btn-outline btn-danger btn-rounded" onclick="$.operate.batRemove()" shiro:hasPermission="system:dict:remove">
		            <i class="fa fa-trash-o"></i> 删除
		        </a>
	        </div>
	        
	        <div class="col-sm-12 select-info table-striped">
			    <table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script th:inline="javascript">
		var editFlag = [[${@permissionService.hasPermi('system:dict:edit')}]];
		var listFlag = [[${@permissionService.hasPermi('system:dict:list')}]];
		var removeFlag = [[${@permissionService.hasPermi('system:dict:remove')}]];
		var prefix = ctx + "system/dict"

		$(function() {
		    var options = {
		        url: prefix + "/list",
		        createUrl: prefix + "/add",
		        updateUrl: prefix + "/edit/{id}",
		        removeUrl: prefix + "/remove",
		        exportUrl: prefix + "/export",
		        sortName: "createTime",
		        sortOrder: "desc",
		        modalName: "类型",
		        search: false,
		        showExport: false,
		        columns: [{
		            checkbox: true
		        },
		        {
		            field: 'dictId',
		            title: '字典主键'
		        },
		        {
		            field: 'dictName',
		            title: '字典名称',
		            sortable: true
		        },
		        {
		            field: 'dictType',
		            title: '字典类型',
		            sortable: true,
		            formatter: function(value, row, index) {
		                return '<a href="#" onclick="detail(\'' + row.dictId + '\')">' + value + '</a>';
		            }
		        },
		        {
		            field: 'status',
		            title: '状态',
		            align: 'center',
		            formatter: function(value, row, index) {
		                if (value == 0) {
		                    return '<span class="badge badge-primary">正常</span>';
		                } else if (value == 1) {
		                    return '<span class="badge badge-danger">停用</span>';
		                }
		            }
		        },
		        {
		            field: 'remark',
		            title: '备注'
		        },
		        {
		            field: 'createDateTimeStr',
		            title: '创建时间'
		        },
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		                var actions = [];
		                actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.dictId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
		                actions.push('<a class="btn btn-info btn-xs ' + listFlag + '" href="#" onclick="detail(\'' + row.dictId + '\')"><i class="fa fa-list-ul"></i>列表</a> ');
		                actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.dictId + '\')"><i class="fa fa-remove"></i>删除</a>');
		                return actions.join('');
		            }
		        }]
		    };
		    $.table.init(options);
		});

		/*字典列表-详细*/
		function detail(dictId) {
		    var url = prefix + '/detail/' + dictId;
		    createMenuItem(url, "字典数据");
		}
	</script>
</body>
</html>