<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content">
		<div class="btn-group hidden-xs" id="tableToolbar" role="group">
			<button type="button" class="btn btn-outline btn-default" th:onclick="'javascript:add()'" shiro:hasPermission="monitor:job:add">
                <i class="glyphicon glyphicon-plus"></i>
            </button>
			<button type="button" class="btn btn-outline btn-default" th:onclick="'javascript:batchRemove()'" shiro:hasPermission="monitor:job:batchRemove">
	            <i class="glyphicon glyphicon-trash"></i>
	        </button>
	        <button type="button" class="btn btn-outline btn-default" th:onclick="'javascript:jobLog()'" shiro:hasPermission="monitor:job:list">
	            <i class="glyphicon glyphicon-list"></i>
	        </button>
        </div>
		<table class="bootstrap-table" data-mobile-responsive="true" 
			   data-sort-name="create_time" data-sort-order="asc">
		</table>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/ruoyi/monitor/job/job.js"></script>
	<script th:inline="javascript" type="text/javascript">
		var editFlag = [[${@permissionService.hasPermi('monitor:job:edit')}]];
		var removeFlag = [[${@permissionService.hasPermi('monitor:job:remove')}]];
		var statusFlag = [[${@permissionService.hasPermi('monitor:job:changeStatus')}]];
	</script>
</body>
</html>