package ${package}.domain;

import org.apache.commons.lang3.builder.ToStringBuilder;
import org.apache.commons.lang3.builder.ToStringStyle;
import com.ruoyi.common.base.BaseEntity;
#foreach ($column in $columns)
#if($column.attrType == 'Date')
import java.util.Date;
#break
#end
#end

/**
 * ${tableComment}表 ${tableName}
 * 
 * @author ${author}
 * @date ${datetime}
 */
public class ${className} extends BaseEntity
{
	private static final long serialVersionUID = 1L;
	
#foreach ($column in $columns)
	/** $column.columnComment */
	private $column.attrType $column.attrname;
#end

#foreach ($column in $columns)
	public void set${column.attrName}($column.attrType $column.attrname) 
	{
		this.$column.attrname = $column.attrname;
	}

	public $column.attrType get${column.attrName}() 
	{
		return $column.attrname;
	}
#end

    public String toString() {
        return new ToStringBuilder(this,ToStringStyle.MULTI_LINE_STYLE)
#foreach ($column in $columns)
            .append("${column.attrname}", get${column.attrName}())
#end
            .toString();
    }
}
