<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content">
	    <div class="btn-group hidden-xs" id="toolbar" role="group">
	    	<div class="form-group">
	            <button type="button" class="btn btn-outline btn-default" onclick="javascript:add(0)" shiro:hasPermission="system:menu:add">
                    <i class="fa fa-plus"></i> 新增
                </button>
			</div>
        </div>
		<table class="bootstrap-table" data-mobile-responsive="true">
		</table>
	</div>
	<div th:include="include :: footer"></div>
	<script th:src="@{/ruoyi/system/menu/menu.js}"></script>
	<script th:inline="javascript">
		var addFlag = [[${@permissionService.hasPermi('system:menu:add')}]];
		var editFlag = [[${@permissionService.hasPermi('system:menu:edit')}]];
		var removeFlag = [[${@permissionService.hasPermi('system:menu:remove')}]];
	</script>
</body>
</html>