$("#form-${classname}-add").validate({
	rules:{
		xxxx:{
			required:true,
		},
	},
	submitHandler:function(form){
		add();
	}
});

function add() {
    _ajax_save(ctx + "${moduleName}/${classname}/save", $('#form-${classname}-add').serialize());
}