$("#form-${classname}-edit").validate({
	rules:{
		xxxx:{
			required:true,
		},
	},
	submitHandler:function(form){
		edit();
	}
});

function edit() {
    _ajax_save("/${moduleName}/${classname}/save", $('#form-${classname}-edit').serialize());
}