var prefix = "/${moduleName}/${classname}"

$(function() {
	var columns = [{
            checkbox: true
        },
		#foreach($column in $columns)
		{
			field : '${column.attrname}', 
			title : '${column.columnComment}' 
		},
		#end
        {
            title: '操作',
            align: 'center',
            formatter: function(value, row, index) {
            	var actions = [];
				actions.push('<a class="btn btn-primary btn-sm ' + editFlag + '" href="#" title="编辑" mce_href="#" onclick="edit(\'' + row.${primaryKey.attrname} + '\')"><i class="fa fa-edit"></i></a> ');
				actions.push('<a class="btn btn-warning btn-sm ' + removeFlag + '" href="#" title="删除" onclick="remove(\'' + row.${primaryKey.attrname} + '\')"><i class="fa fa-remove"></i></a>');
				return actions.join('');
            }
        }];
	var url = prefix + "/list";
	$.initTable(columns, url);
});

/*${tableComment}-新增*/
function add() {
    var url = prefix + '/add';
    layer_showAuto("新增${tableComment}", url);
}

/*${tableComment}-修改*/
function edit(${primaryKey.attrname}) {
    var url = prefix + '/edit/' + ${primaryKey.attrname};
    layer_showAuto("修改${tableComment}", url);
}

// 单条删除
function remove(id) {
	$.modalConfirm("确定要删除选中${tableComment}吗？", function() {
		_ajax(prefix + "/remove/" + id, "", "post");
    })
}

// 批量删除
function batchRemove() {
	var rows = $.getSelections("${primaryKey.attrname}");
	if (rows.length == 0) {
		$.modalMsg("请选择要删除的数据", "warning");
		return;
	}
	$.modalConfirm("确认要删除选中的" + rows.length + "条数据吗?", function() {
		_ajax(prefix + '/batchRemove', { "ids": rows }, "post");
	});
}
