<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>若依捐赠</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="/css/main/bootstrap.min14ed.css" rel="stylesheet">
    <link href="/css/main/font-awesome.min93e3.css" rel="stylesheet">
    <link href="/css/main/animate.min.css" rel="stylesheet">
    <link href="/css/main/style.min862f.css" rel="stylesheet">
</head>

<body>
<div class="container">
	<h3>捐赠名单</h3>
    <table class="table">
	    <tbody>
	        <tr class="active"><td>序号</td><td>昵称</td><td>金额</td><td>日期</td><td>来源</td><td>附言</td></tr>
	        <tr class="active"><td>1</td><td>庚子</td><td>10¥</td><td>2018-04-21</td><td>支付宝</td><td>加油！</td></tr>
	        <tr class="active"><td>2</td><td>yetao_study</td><td>10¥</td><td>2018-04-17</td><td>码云</td><td>感谢您的开源项目！</td></tr>
	        <tr class="active"><td>3</td><td>4666yy 182******41</td><td>10¥</td><td>2018-04-17</td><td>支付宝</td><td>希望继续努力，分享更多</td></tr>
	        <tr class="active"><td>4</td><td>mua 150******04</td><td>20¥</td><td>2018-04-13</td><td>支付宝</td><td>无留言（感谢~~）</td></tr>
	        <tr class="active"><td>5</td><td>黄** 157***@qq.com</td><td>5¥</td><td>2018-04-12</td><td>支付宝</td><td>无留言（感谢~~）</td></tr>
		    <tr class="active"><td>6</td><td>wamich</td><td>10¥</td><td>2018-03-30</td><td>码云</td><td>感谢您的开源项目！</td></tr>
		    <tr class="active"><td>7</td><td>yimi</td><td>10¥</td><td>2018-03-13</td><td>码云</td><td>感谢您的开源项目！</td></tr>
		    <tr class="active"><td>8</td><td>David hai***163.com</td><td>10¥</td><td>2018-03-13</td><td>支付宝</td><td>无留言（感谢~~）</td></tr>
	    </tbody>
    </table>
	</div>
</div>
</body>