<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="btn-group hidden-xs" id="tableToolbar" role="group">
	        <button class="btn btn-outline btn-default" onclick="javascript:add()" shiro:hasPermission="system:config:add">
	            <i class="fa fa-plus"></i> 新增
	        </button>
	        <button class="btn btn-outline btn-default" onclick="javascript:batchRemove()" shiro:hasPermission="system:config:batchRemove">
	            <i class="fa fa-trash-o"></i> 删除
	        </button>
        </div>
        <table class="bootstrap-table" data-mobile-responsive="true" data-sort-name="config_id" data-sort-order="asc">
        </table>
    </div>
    <div th:include="include :: footer"></div>
    <script src="/ruoyi/system/config/config.js" th:src="@{/ruoyi/system/config/config.js}"></script>
    <script th:inline="javascript">
        var editFlag = [[${@permissionService.hasPermi('system:config:edit')}]];
        var removeFlag = [[${@permissionService.hasPermi('system:config:remove')}]];
    </script>
</body>
</html>