package ${package}.domain;

import java.io.Serializable;
import com.ruoyi.framework.web.page.PageDomain;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end

/**
 * ${tableName} ${tableComment}
 * 
 * @author ${author}
 * @date ${datetime}
 */
public class ${className} extends PageDomain implements Serializable 
{
	private static final long serialVersionUID = 1L;
	
#foreach ($column in $columns)
	/** $column.columnComment */
	private $column.attrType $column.attrname;
#end

#foreach ($column in $columns)
	/**
	 * 设置：${column.columnComment}
	 */
	public void set${column.attrName}($column.attrType $column.attrname) 
	{
		this.$column.attrname = $column.attrname;
	}
	
	/**
	 * 获取：${column.columnComment}
	 */
	public $column.attrType get${column.attrName}() 
	{
		return $column.attrname;
	}
	
#end
}
