package ${package}.service;

import ${package}.domain.${className};
import java.util.List;

/**
 * ${tableComment} 服务层
 * 
 * @author ${author}
 * @date ${datetime}
 */
public interface I${className}Service 
{
	/**
     * 查询${tableComment}信息
     * 
     * @param ${primaryKey.attrname} ${tableComment}ID
     * @return ${tableComment}信息
     */
	public ${className} select${className}ById(${primaryKey.attrType} ${primaryKey.attrname});
	
	/**
     * 查询${tableComment}列表
     * 
     * @param ${classname} ${tableComment}信息
     * @return ${tableComment}集合
     */
	public List<${className}> select${className}List(${className} ${classname});
	
	/**
     * 新增${tableComment}
     * 
     * @param ${classname} ${tableComment}信息
     * @return 结果
     */
	public int insert${className}(${className} ${classname});
	
	/**
     * 修改${tableComment}
     * 
     * @param ${classname} ${tableComment}信息
     * @return 结果
     */
	public int update${className}(${className} ${classname});
		
	/**
     * 删除${tableComment}信息
     * 
     * @param ids 需要删除的数据ID
     * @return 结果
     */
	public int delete${className}ByIds(String ids);
	
}
