<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-dept-edit">
			<input name="deptId" type="hidden" th:value="${dept.deptId}"   />
			<input id="treeId" name="parentId" type="hidden" th:value="${dept.parentId}" />
			<div class="form-group">
				<label class="col-sm-3 control-label ">上级部门：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" id="treeName" onclick="selectDeptTree()" readonly="true" th:value="${dept.parentName}"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">部门名称：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="deptName" th:value="${dept.deptName}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">显示排序：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="orderNum" th:value="${dept.orderNum}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">负责人：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="leader" th:value="${dept.leader}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">联系电话：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="phone" th:value="${dept.phone}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">邮箱：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="email" th:value="${dept.email}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">部门状态：</label>
				<div class="col-sm-8">
					<div class="radio radio-info radio-inline">
						<input type="radio" id="radio1" th:field="*{dept.status}" name="status" value="0">
						<label for="radio1">正常</label>
					</div>
					<div class="radio radio-danger radio-inline">
						<input type="radio" id="radio2" th:field="*{dept.status}" name="status" value="1">
						<label for="radio2">禁用</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="form-control-static col-sm-offset-9">
					<button type="submit" class="btn btn-primary">提交</button>
					<button th:onclick="'javascript:layer_close()'" class="btn btn-danger" type="button">关闭</button>
				</div>
			</div>
		</form>
	</div>
	<div th:include="include::footer"></div>
	<script src="/ruoyi/system/dept/edit.js" th:src="@{/ruoyi/system/dept/edit.js}">
	</script>
</body>
</html>
