<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content">
		<div class="btn-group hidden-xs" id="toolbar" role="group">
			<button class="btn btn-outline btn-default" onclick="javascript:add()" shiro:hasPermission="system:post:add">
                <i class="fa fa-plus"></i> 新增
            </button>
			<button class="btn btn-outline btn-default" onclick="javascript:batchRemove()" shiro:hasPermission="system:post:batchRemove">
	            <i class="fa fa-trash-o"></i> 删除
	        </button>
        </div>
		<table class="bootstrap-table" data-mobile-responsive="true" 
			   data-sort-name="post_sort" data-sort-order="asc">
		</table>
	</div>
	<div th:include="include :: footer"></div>
	<script src="/ruoyi/system/post/post.js" th:src="@{/ruoyi/system/post/post.js}"></script>
	<script th:inline="javascript">
		var editFlag = [[${@permissionService.hasPermi('system:post:edit')}]];
		var removeFlag = [[${@permissionService.hasPermi('system:post:remove')}]];
	</script>
</body>
</html>