<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>个人信息</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">
            <div class="col-sm-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>个人资料</h5>
                    </div>
                    <div class="contact-box">
	                        <div class="col-sm-4">
	                            <div class="text-center">
	                                <img alt="image" class="img-circle m-t-xs img-responsive" src="/img/a2.jpg">
	                                <div class="m-t-xs font-bold">CEO</div>
	                            </div>
	                        </div>
	                        <div class="col-sm-8">
	                            <h3><strong>admin</strong></h3>
	                            <p><i class="fa fa-user"></i> 若依 / 管理员</p>
	                            <p><i class="fa fa-phone"></i> 15888888888</p>
	                            <p><i class="fa fa-group"></i> 开发一部 / 初级开发</p>
	                            <p><i class="fa fa-transgender"></i> 女</p>
	                            <p><i class="fa fa-envelope-o"></i> ruoyi@163.com</p>
	                            <p><i class="fa fa-calendar"></i> 2018-05-20 13:14:00</p>
	                        </div>
	                        <div class="clearfix"></div>
	                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
